.main-button {
    padding: 10px 20px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    background-color: transparent;
    border: 1px solid #265B6A;
    color: white;
}

.main-button:hover {
    background-color: #34748a;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#account-name {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.site-title {
    cursor: pointer;
    text-decoration: none;
}

#clickable-text {
  color: inherit;            
  text-decoration: none;     
  cursor: pointer;         
  text-align:left;
  font-size: 2rem;
  /* font-weight: 700; */
}

#clickable-text:hover {
    color: #34748a;
}


#clickable-text:hover {
  opacity: 0.8;             
}


#submission {
    width: 400px;
    height: 100px;
}

body{
  font-family: "Inter", system-ui, sans-serif;
  background-color: #121212; /* this sets the background color of the whole page */
  color: #f3f4f6;            /* this sets he text to a a nice white */
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;       
  top: 50%;                 
  right: 100%;              
  margin-top: -5px;         
  
  /* points triangle to the left */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.response {
  background-color: #1b2234;
  color: #f3f4f6;
  border-radius: 8px;
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  
  /* this aligns the response text to the left */
  text-align: left; 
}