/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #555 #121212;
}

body{
  font-family: "Inter", system-ui, sans-serif;
  background-color: #121212;
  color: #f3f4f6;
}

.main-button {
    padding: 10px 20px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    background-color: transparent;
    border: 1px solid #265B6A;
    color: white;
}

.main-button:hover {
    background-color: #34748a;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#account-name {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.site-title {
    cursor: pointer;
    text-decoration: none;
}

#clickable-text {
  color: inherit;            
  text-decoration: none;     
  cursor: pointer;         
  text-align:left;
  font-size: 2rem;
  /* font-weight: 700; */
}

#clickable-text:hover {
    color: #34748a;
}


#clickable-text:hover {
  opacity: 0.8;             
}


.settings {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: none;
    color: white;   /* default icon color */
    cursor: pointer;
}

.settings i {
    font-size: 24px;
    transition: color 0.2s ease;
}

.settings-container{
    display:flex;
    align-items:flex-start;
    gap:40px;

    margin:30px;
    margin-top: 20px;
}

.settings:hover i {
    color: lightgray;   
}

/* The sidebar menu */
.sidenav{
    width:200px;
    flex-shrink:0;

    background:#171717;
    border-radius:10px;
    padding:20px 0;
}



/* The navigation menu links */
.sidenav a {
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border-radius: 8px;
  transition: 0.2s;
}

.sidenav a.active{

    background:#265B6A;

    font-weight:600;
}

/* when you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: lightgray;
    background:#265B6A;
}

/* style page content */
.main{
    flex:1;

    background:#1b2234;
    border-radius:8px;
    padding:25px;
}

#save-btn{
    background-color: #1D647B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
}

#save-pass{
    background-color: #1D647B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

#log-out{
    background-color: #1D647B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

#delete-acc{
    background-color: #1D647B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

.password-field {
    display: inline-flex;
    align-items: center;
}

.password-field button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 8px;
    padding: 0;
}

.password-field i {
    font-size: 22px;
}

.password-field button:hover {
    color: #5ec8ff;
}

.alert-content h2,
.alert-content p {
    margin: 0;
    padding: 0;
}

.alert-box {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    z-index: 9999;

    justify-content: center;
    align-items: center;
}

.alert-content {
    position: relative;
    padding: 35px 25px 25px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background: #1b2234;
    color: white;
    border-radius: 10px;

    width: 400px;
    /* remove min-height: 175px; */

    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}

#confirmAlert {
    /* margin-top: 20px; */
    padding: 8px 18px;
    width: 120px; 
    border: none;
    border-radius: 8px;
    background: #1D647B;
    color: white;
    cursor: pointer;

    align-self: center;

    

    /* place-items: center */

}

#confirmAlert:hover {
    background: #34748a;
}

.alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;

    color: white;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

.alert-close:hover {
    color: #5ec8ff;
}



/* on smaller screens, where height is less than 450px, change the style of the sidebar */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}